@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply bg-white rounded overflow-hidden shadow-md relative dark:bg-slate-500;
}

.badge {
    @apply bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full p-2 absolute top-0 ml-2 mt-2;
}

.btn {
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}

.nav__active {
    @apply font-extrabold underline border-cyan-700 hover:no-underline;
}

.nav_items {
    @apply text-gray-800 py-1 md:border-r-4 hover:underline hover:border-cyan-300 dark:border-slate-700;
}

.rounded-text-input {
    @apply rounded-full text-center focus:outline-red-600 border-solid hover:border-red-300 border-2 border-blue-400 hover:animate-none focus:animate-none transition pt-3 pb-1 bg-transparent;
}

.input-group {
    @apply relative inline-block;
}

.label-input {
    @apply absolute top-0 left-3 z-0 text-[10px] font-semibold text-gray-400;
}

.table-container {
    @apply overflow-x-auto relative shadow-md sm:rounded-lg ;
}

.table-default {
    @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
}

.table-default-row {

}

.table-default-head {
    @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
}

.table-default-row {
    @apply bg-white border-b dark:bg-gray-900 dark:border-gray-700;
}

.table-default-td {
    @apply py-4 px-6 font-medium whitespace-nowrap dark:text-white;
}

h1, h2 {
    font-family: 'Bree Serif', serif;
    @apply dark:text-white;
}

h3, h4 {
    font-family: 'Bree Serif', serif;
    @apply dark:text-white;
}

* {
    font-family: 'Exo', sans-serif; 
    @apply dark:text-white;
}